body {
    padding: 10px;
    display: flex;
    flex-direction: column;
}
div {
    /* border: 1px solid silver; */
    padding: 5px;
}
a, span, h3, h2, b {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: #708187;
}
.main-sity h2 {
    font-size: 10vmin;    
    font-weight: normal;
    margin: 20px 0;
}
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

}
.b {
    font-weight: bold;
    letter-spacing: 0.03em;
    margin-right: 1.5em;
}
section .main-sity {
    flex: 1;
}
section .props {
    flex: 1;
}
.favorites {
    display: grid;
    padding: 0;
}
.favorite {
    flex: 1 1 640px;
    list-style-type: none;
}
.props ul {
    margin: 0 0;
    padding: 0 0;
}
.props li {
    display: flex;
    background-color: #a7afb1;
    margin: 5px 0;
    justify-content: space-between;
    padding: 1% 2%;
}
.main-sity>div {
    display: flex;
    justify-content: space-between;
}
.main-sity span {
    font-size: 20vmin;
    padding-right: 5%;
    color: #7e7e7e;
}
.main-sity img {
    max-width: 40%;
    height: auto;
}
.divided {
    display: flex;
    justify-content: space-between;
}
.fv {
    margin: 10px 0;
    margin-top: 20px;  
    flex-wrap: wrap;
}
h1, .fv h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 9vmin;
    order: -3;
    margin-right: 10px;
    color: #708187;
    font-weight: normal;
}
.fv input {
    background-color: #f1f1f1;
    border: none;
    padding: 2em 8%;
    flex-grow: 1;
    width: inherit;
    font-size: 75%;
}
.fv form {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    flex-grow: 1;
}
.favorite {
    padding: 5px 0;
}
.favorite div img {
    width: 60px;
    height: 60px;
}
.favorite .fvheader {
    display: flex;
    justify-content: space-between;
    padding: 3% 5px 0 5px;
    align-items: center;
}
.fvheader h3, .fvheader span {
    font-size: 6vmin;
    margin: 0;
    font-weight: normal;
}
.props span {
    color: white;
    text-align: end;
}
button.btn {
    border: 0;
    background-color: inherit;
    border-radius: 50%;
    background-size: cover;
    min-width: 68px;
    min-height: 68px;
    margin-left: 20px;
}
.plus {
    background-image: url(images/icons8-plus.svg);
}
.cancel {
    background-image: url(images/icons8-cancel.svg);
}
header button {
    background-image: url(images/icons8-update-left-rotation-24.png);
    border: 0;
    background-size: cover;
    background-color: inherit;
    width: 96px;
    height: 96px;
}
button.update * {
    display: none;
}

@media (min-width: 957px) {
    section {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .favorites {
        grid-template-columns: repeat(2,minmax(360px,1fr));
    }
    button.update {
        border: 0;
        background-color: #c8d1d6;
        background-image: none;
        border-radius: 7px;
        width: 40%;
        height: 50px;
    }
    button.update * {
        display: initial;
    }
    header {
        width: 63%;
    }
    .fv form {
        flex-grow: 0;
        width: auto;
        margin-right: 40px;
    }
    .fvheader h3 {
        font-size: 4.5vmin;
    }
    .main-sity span {
        font-size: 11vmin;
    }
    .main-sity h2 {
        font-size: 6vmin;
    }
    h1, .fv h2 {
        font-size: 6vmin;
    }
}
@media (min-width: 1280px) {
    body {
        margin: auto 15%;
    }
}