body {
    padding: 10px;
    display: flex;
    flex-direction: column;
}
div {
    /* border: 1px solid silver; */
    padding: 5px;
}
a, span, h3, b {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: #708187;
}
h3 {
    font-size: 60px;    
    font-weight: normal;
    margin: 20px 0;
}
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

}
@media (min-width: 1024px) {
    section {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .favorites {
        grid-template-columns: repeat(2,minmax(360px,1fr));
    }
    button.update {
        border: 0;
        background-color: #c8d1d6;
        background-image: none;
        border-radius: 7px;
        width: 40%;
        height: 50px;
    }
    button.update * {
        visibility: visible !important;
    }
    header {
        width: 63%;
    }
    .fv a {
        flex-grow: 0 !important;
    }
}
@media (min-width: 1280px) {
    body {
        margin: auto 15%;
    }
}
section .main-sity {
    flex: 1;
}
section .props {
    flex: 1;
}
.favorites {
    display: grid;
}
.favorite {
    flex: 1 1 640px;
}
ul {
    margin: 0 0;
    padding: 0 0;
}
li {
    display: flex;
    background-color: #a7afb1;
    margin: 5px;
    justify-content: space-between;
    padding: 1% 2%;
}
.main-sity>div {
    display: flex;
    justify-content: space-between;
}
.main-sity span {
    font-size: 170px;
    padding-right: 5%;
    color: #7e7e7e;
}
.main-sity img {
    max-width: 250px;
    height: auto;
}
.divided {
    display: flex;
    justify-content: space-between;
}
.fv {
    margin: 10px;
    margin-top: 20px;  
    align-items: baseline;
    flex-wrap: wrap;
}
.fv span, header>a {
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    order: -3;
    margin-right: 10px;
}
.fv input {
    background-color: #f1f1f1;
    border: none;
    padding: 6% 8%;
    flex-grow: 1;
}
.fv a {
    display: flex;
    flex-direction: row;
    margin-right: 2%;
    align-items: center;
    flex-grow: 1;
}
.favorite div img {
    width: 60px;
    height: 60px;
}
.favorite .fvheader {
    display: flex;
    justify-content: space-between;
    padding: 3% 1.5% 0 1.5%;
    align-items: center;
}
.fvheader span {
    font-size: 45px;
}
.props span, .props b {
    color: white;
}
.props b {
    letter-spacing: 0.03em;
    margin-right: 10px;
}
button.btn {
    border: 0;
    background-color: inherit;
    border-radius: 50%;
    background-size: cover;
    background-image: url(images/icons8-plus.svg);
    min-width: 68px;
    min-height: 68px;
    margin-left: 20px;
}
header button {
    background-image: url(images/icons8-update-left-rotation-24.png);
    border: 0;
    background-size: cover;
    width: 48px;
    height: 48px;
}
button.update * {
    visibility: hidden;
}

